template(name="layout")
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name: h1: a(href='#') Microscopic Test
      li.toggle-topbar.menu-icon: a(href='#'): span Menu
    section.top-bar-section
      ul.right
        li: a(href='https://github.com/narnach/microscope') The code
        //li.active: a(href='#') Right Button Active
        //li.has-dropdown
        //  a(href='#') Right Button Dropdown
        //  ul.dropdown
        //    li: a(href='#') First link in dropdown
        //    li.active: a(href='#') Active link in dropdown
      ul.left
        //li: a(href='#') Left Nav Button

  .row
    .large-9.columns
      +yield
    .large-3.columns
      .panel.sidebar This is my first Meteor test app. The code is on Github, so <a href="https://github.com/narnach/microscope">check it out!</a>

  .init-foundation {{initFoundation}}
