head
  title Microscopic Test
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
  nav.top-bar(data-topbar='', role='navigation')
    ul.title-area
      li.name: h1: a(href='#') Microscopic Test
      //li.toggle-topbar.menu-icon: a(href='#'): span Menu
    section.top-bar-section
      ul.right
        //li.active: a(href='#') Right Button Active
        //li.has-dropdown
        //  a(href='#') Right Button Dropdown
        //  ul.dropdown
        //    li: a(href='#') First link in dropdown
        //    li.active: a(href='#') Active link in dropdown
      ul.left
        //li: a(href='#') Left Nav Button

  .row
    .small-12.columns
      h1
      hr
      p This is my first Meteor app test thing.

//{{initFoundation}}
