.post
  &:hover
    outline: 0.1em dotted #ddd
  .post-content
    position: relative
    a.title
      font-weight: bold
    span.domain
      &:before
        content: "("
      &:after
        content: ")"
    .discuss.button
      margin-bottom: 0
