ul.posts
  list-style: none
  margin-left: 0
  li.post
    padding: 0.5em
    background-color: #fff
    margin-top: 0.5em
    margin-bottom: 0.5em
    &:hover
      outline: 0.1em dotted #ddd
    .post-content
      a.title
        font-weight: bold
      span.domain
        &:before
          content: "("
        &:after
          content: ")"
