template(name="postItem")
  .post
    .row
      .post-content
        .small-9.medium-10.columns
          a.title(href="{{url}}") {{title}}
          span.domain {{domain}}
        .small-3.medium-2.columns
          a.tiny.redius.discuss.button(href="{{pathFor 'postPage'}}") Discuss
